


@model Online_Shop.Models.Products
@{
    ViewData["title"] = "Details";
}
@using System.Net.Http
@using Online_Shop.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{

    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");
    Products product = null;
    if (products != null)
    {
        //products = new List<Products>();
        product = products.FirstOrDefault(c => c.Id == Model.Id);
    }

}
<br />
<h2 class="text-info">Product Details</h2>
<form asp-action="Detail" method="post">
    <div class="p-4 rounded border row">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="col-md-8">
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-md-5">
                    <input type="hidden" asp-for="Id" />
                    <input asp-for="Name" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-md-5">
                    <input asp-for="Price" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            @*<div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Image"></label>
                    </div>
                    <div class="col-md-5">
                        <input asp-for="Image" class="form-control" type="file" />
                    </div>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>*@

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="ProductColor"></label>
                </div>
                <div class="col-md-5">
                    <input asp-for="ProductColor" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="ProductColor" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="ProductTypeId"></label>
                </div>
                <div class="col-md-5">
                    @*<select asp-for="ProductTypeId" asp-items="ViewBag.productTypeId" class="form-control"></select>*@
                    <input asp-for="ProductTypes.ProductType" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="ProductTypeId" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="SpecialTagId"></label>
                </div>
                <div class="col-md-5">
                    @*<select asp-for="SpecialTagId" asp-items="ViewBag.TagId" class="form-control"></select>*@
                    <input asp-for="SpecialTag.Tag" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="SpecialTagId" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-md-3">

                </div>
                <div class="col-md-5">
                    @if(product!=null)
                    {
                    <input type="submit" asp-action="Remove" asp-route-id="@Model.Id" class="btn btn-danger form-control" value="Remove From Cart" />
                    }else{
                    <input type="submit" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-info form-control" value="Add To Cart" />
                    }
                </div>

            </div>

            <div class="form-group">

                <a asp-action="Index" class="btn btn-success">Back to Home</a>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <img src="~/@Model.Image" width="100%" style="border-radius:5px; border:1 px solid #efefef" />
            <div class="d-flex justify-content-between align-items-center">
                @if (Model.IsAVailable)
                {
                    <label style="font-size:15px; color:#a51313">In Stock</label>
                }
                else
                {
                    <label style="font-size:15px; color:#a51313">Not In Stock</label>

                }
            </div>
        </div>

    </div>
</form>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}







